body{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
  }

.sign{
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 20px; 
  display:inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.a-serious{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.a1{
  display: flex;
  padding-left: 200px;
}

.a1 img{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.a2 a{
  text-decoration: none;
  border-radius: 20px; 
  display:inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: #000;
}

.a2 a:hover{
  background-color: antiquewhite;
}

.a3{
  padding-right: 180px;
}

.a3 p{
  display: flex;
  gap: 20px;
  text-decoration: none;
  border-radius: 20px; 
  display:inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.a3 p:hover {
  background-color: antiquewhite;
  color: #000;
}

.a4{
  display: none;
}

.a5{
  display: none;
}

@media screen and (max-width:900px) {
  .a2{
    display: none;
  }

  .a3{
    display: none;
  }

  .a4{
    display: block;
    padding-left: 20px;
  }

  .a5{
    display: block;
    padding-right: 20px;
  }
}

.b-serious{
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
}

@media screen and (max-width:900px) {
  .b-serious{
    font-size: 20px;
  }
}

.c-serious{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 20px;
  font-size: 18px;
}

.c-serious a{
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}

.c-serious a:hover{
  border-bottom: solid black 2px;
}

.d{
  padding: 5px;
  border: solid black 1px;
  border-radius: 30px;
  display: flex;
  width: 60%;
  gap: 10px;
  margin-left: 300px;
  margin-bottom: 40px;
}

@media screen and (max-width:900px) {
  .d{
    margin:  0%;
    width: 100%;
    }
}

.d i{
  padding:12px;
  padding-right: 2px;

}

.d input{
  border: none;
  font-size: 17px;
  width: 100%;
  background-color: transparent;
}

.d input:focus{
  outline: none;
}

.Search{
  background-color: rgb(16, 47, 73);
  color: rgb(240, 243, 243);
  text-decoration: none;
  border-radius: 20px; 
  display:inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}


.e-serious{
  margin-left: 200px;
  position: relative;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

img{
  height: 400px;
  width: 1150px;
  border-radius: 15px;
  background-color: rgb(170, 198, 210);
}

@media screen and (max-width:900px) {
  img{
   width: 100%;
   height: 100%;
  }

  .e-serious{
    padding-top: 400px;
    padding-bottom: 0%;
    margin-top: 20px;
    margin-left: 0%;
    background-color:  rgb(170, 198, 210);
  }

  .e-img{
    text-align: center;
  }

  .eimg{
    margin-right: 100px;
  }
}

.e-img{
position: absolute;
top: 10%;
left: 10%;
width: 400px;
}

.e-img h1{
  font-size: 50px;
  padding-bottom: 10px;
}

.e-img p{
  font-size: 25px;
  padding-bottom: 25px;
}

.start{
    text-decoration: none;
    border-radius: 20px; 
    display:inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(240, 242, 244);
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(4, 40, 71);
  }

  
  .start:hover{
    background-color: rgb(51, 67, 79);
  }

.f-serious{
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width:900px) {
  .f-serious{
    margin: 0%;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 5%;
    font-size: 16px;
  }
}

.f-serious p{
  padding-bottom: 10px;
}

.f2{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 13px;
}

.f3 img{
  width: 280px;
  height: 260px;
  cursor: pointer;
  transition: 0.5s;
}

.f3{
  position: relative;
}

.f3 h2{
  color: white;
  position: absolute;
  bottom: 5%;
  font-size: 30px;
}

.f3 img:hover{
  opacity: 0.5;
}

@media screen {
  .f3 img:active{
    opacity: 0.5;
  }
}

.g-serious{
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width:900px) {
  .g-serious{
    margin: 0%;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 5%;
    font-size: 16px;
  }
}

.g-serious p{
  padding-bottom: 10px;
}

.g2{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 13px;
}

.g3 img{
  width: 280px;
  height: 260px;
  cursor: pointer;
  transition: 0.5s;
}

.g3 img:hover{
  opacity: 0.5;
}

@media screen {
  .g3 img:active{
    opacity: 0.5;
  }
}

.h-serious{
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width:900px) {
  .h-serious{
    margin: 0%;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 5%;
    font-size: 16px;
  }

  .h1-a a{
    display: none;
  }
  
}

.h1-a{
  position: relative;
}

.h1-a a{
  position: absolute;
  left:88%;
  top: 20%;
  font-size: 18px;
}

.h-serious p{
  padding-bottom: 10px;
}

.h2{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 13px;
}

.h3 img{
  width: 280px;
  height: 260px;
  cursor: pointer;
  transition: 0.5s;
}

.Seller{
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 10px; 
  display:inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.Sell{
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 10px; 
  display:inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.h3 img:hover{
  opacity: 0.5;
}

@media screen {
  .h3 img:active{
    opacity: 0.5;
  }
}

.i-serious{
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width:900px) {
  .i-serious{
    margin: 0%;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 5%;
    font-size: 16px;
  }
}

.i-serious p{
  padding-bottom: 10px;
}

.i2{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 13px;
}

.i3 img{
  width: 280px;
  height: 260px;
  cursor: pointer;
  transition: 0.5s;
}

.i3 img:hover{
  opacity: 0.5;
}

@media screen {
  .i3 img:active{
    opacity: 0.5;
  }
}

.j3 img{
  width: 350px;
  height: 240px;
  cursor: pointer;
  transition: 0.5s;
}

.j3 img:hover{
  opacity: 0.5;
}

@media screen {
  .j3 img:active{
    opacity: 0.5;
  }
}

.j2{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 50px;
}

.j-serious{
  margin-top: 100px;
  padding-left: 200px;
  padding-right: 165px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  background-color: rgb(247, 238, 199);
  flex-wrap: wrap;
}

@media screen and (max-width:900px) {
  .j-serious{
    margin: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 5%;
    font-size: 16px;
    padding-left: 5%;
    width: fit-content;
  }
}

.j-tittle{
  font-size: 19px;
  padding: 10px;
  padding-left: 20px;
  text-align: center;
}

.j-tittle a{
  text-decoration: none;
}

.j-tittle a:hover{
  text-decoration: underline;
}

.k-serious{
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width:900px) {
  .k-serious{
    margin: 0%;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 5%;
    font-size: 16px;
  }
}

.k-serious p{
  padding-bottom: 10px;
}

.k2{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 13px;
}

.k3 img{
  width: 280px;
  height: 260px;
  cursor: pointer;
  transition: 0.5s;
}

.k3{
  position: relative;
}

.k3 h2{
  color: white;
  position: absolute;
  bottom: 5%;
  font-size: 30px;
}

.k3 img:hover{
  opacity: 0.5;
}

@media screen {
  .k3 img:active{
    opacity: 0.5;
  }
}

.L-serious{
  background-color: rgb(178, 211, 211);
  margin-left: 200px;
  margin-right: 160px;
  display: flex;
}

.L1{
  padding: 15px;
}

.L2{
  text-align: center;
  margin: 10%;
  padding-top: 100px;
}
.L2 p{
  padding-bottom: 20px;
  font-size: 19px;
}

.L1 img{
  border-radius: 0px;
  width: 400px;
  height: 500px;
}

.L-2 a{
  text-decoration: none;
  color: #000;
}

.L2 a:hover{
  text-decoration: underline;
}

.Learn{
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 30px; 
  display:inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width:900px) {
  .L-serious{
    margin: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
    margin-top: 0%;
    padding-left: 2%;
    width: fit-content;
    position: relative;
  }

  .L-1{
    position: absolute;
    top: 10%;
  }
}

.m-serious{
  margin-left: 200px;
  margin-right: 160px;
  margin-bottom: 20px;
  padding-left: 300px;
  padding-top: 80px;
  position: relative;
  flex-wrap: wrap;
}

@media screen and (max-width:900px) {
  .m-serious{
    margin: 0%;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 5%;
    font-size: 16px;
  }
}

.rental{
  position: absolute;
  top: 10%;
  left: 0%;
  font-size: 20px;
  width: 300px;
}

.rental p{
  padding-top: 20px;
  width: 250px;
  font-size: 25px;
}
.m-serious p{
  padding-bottom: 10px;
}

.m2{
  display: flex;
  justify-content: space-between;
  gap: 13px;
}

.m3 img{
  width: 260px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.m3 img:hover{
  opacity: 0.5;
}

@media screen {
  .m3 img:active{
    opacity: 0.5;
  }
}

.n-serious{
  background-color: rgb(247, 238, 199);
  padding-left: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

@media screen and (max-width:900px) {
  .n-serious{
    margin: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
    margin-top: 0%;
    padding-left: 2%;
    width: fit-content;
  }

  .travel h1{
    width: 500px;
  }

  .travel p{
    width: 450px;
  }

  .travel a{
    width: 120px;
  }
}

.n-img img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.travel{
  width: 30%;
}

.travel h1{
  padding-bottom: 10%;
  font-size: 50px;
}

.travel p{
  font-size: 20px;
  padding-bottom:  5%;
}

.winner{
  text-decoration: none;
  border-radius: 20px; 
  display:inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(240, 242, 244);
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(4, 40, 71);
}

.winner:hover{
  background-color: rgb(60, 99, 131);
}

.z-serious{
  background-color: rgb(247, 238, 199);
  margin-top: 80px;
  padding-left: 200px;
  position: relative;
  padding-top: 30px;
  flex-wrap: wrap;
}

.z1{
  display: flex;
  gap: 30px;
}

.z1 p{
  margin: 6px;
  font-size: 15px;
}

.z1 a{
  color: black;
  text-decoration: none;
}

.z1 a:hover{
  text-decoration: underline;
}

.z1-4{
  padding-left: 300px;
}

.z5 p{
  margin:30px;
  font-size: 15px;
  display: none;
}

.z5 a{
  color: black;
  text-decoration: none;
}

.z5 a:hover{
  text-decoration: underline;
}

@media screen and (max-width:900px) {
  .z5 p{
    display: block;
    font-size: 16px;
  }

  .z-serious{
    padding-top: 30px 0%;
    padding-left: 30px;
  }

}

.final-img img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-top: 20px;
}

.final-img{
  display: flex;
  align-items: center;
  gap: 20px;
}

.t{
  padding-left: 200px;
}

.y{
  font-size: 15px;
  display: flex;
}


.y a{
  text-decoration: none;
}

.y a:hover{
  text-decoration: underline;
}

.inr{
  text-decoration: none;
  border-radius: 10px; 
  display:inline-block;
  padding-left: 15px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(61, 68, 75);
  font-size: 18px;
  cursor: pointer;
  background-color: white;
}

.inr:hover{
  background-color: rgb(214, 220, 224);
}

.india{
  text-decoration: none;
  border-radius: 10px; 
  display:inline-block;
  padding-left:15px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(62, 66, 70);
  font-size: 18px;
  cursor: pointer;
  background-color: white;
}

.india:hover{
  background-color: rgb(224, 227, 228);
}


.x{
  display: none;

}



@media screen and (max-width:900px) {
  .z1{
    display: none;
  }

  .w{
    display: none;
  }
}

@media screen and (max-width:900px) {
  .t{
    display: none;
  }

  .y{
    width: fit-content;
  }

  .x{
    display: block;
  }

  .inr{
    padding-right: 350px;
    margin: 10px;
  }

  .india{
    padding-right: 340px;
    margin: 10px;
  }
}